.container1 {
    width: 100%;
    height: 80px;
     
    background-color: black;
    color: white;
    margin: 0;
    padding: 16px 16px 0 0;
    font-size: 30px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 5fr 5fr 5fr 5fr 5fr 5fr 5fr;
    border: 3px solid whitesmoke;
    text-align: center;
    
}

.container1 a {
    text-decoration: none;
    color: white;
    text-align: center;
    transition: color 0.5s 
}

.container1 a:hover {
    color: red;
}

.container2 {
    width: 100%;
    height: 100%;
}

.container2 img {
    width: 100%;
    height: 100%;
}

.container3 {
    width: 100%;
    height: 1280px;
    display: grid;
    grid-template-columns: 4fr 6fr;
    box-sizing: border-box;
}

.container3 #content {
    background-color: ivory;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    list-style-type:none;
    font-weight: bold;
}

.container3 img {
    width: 100%;
    height: 100%;
}      